* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

ul {
list-style: none;
padding-left: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color:white;
}

nav {
  font-family: "Roboto", Arial, Verdana;
  font-weight: 400;
  letter-spacing: .05em;
  background-color: #D3D3D3;
  padding:25px;
}

h1, .top-nav {
  text-align: center;
}

.top-nav, .top-nav li {
  width: 100%;
}

h1 a, .top-nav a {
  color: #000;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
}

.top-nav a {
  text-transform: uppercase;
}

.container {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.col {
  margin: 0;
  min-height: auto;
  color: black;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  background-color: white;
  height: fit-content;
  padding-top: 0;
  margin-top: 0;
  flex: 1 50%;
}

.p1 {
padding: 40px 0;
margin: 0 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

p {
text-align: center:
line-height: 1.5em;
width: 100%;
padding-bottom: 25px;
}

/*footer*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding-top: 1px;
  padding-bottom: 20px;
  height: 100px;
  background-color: #D3D3D3;
}

#contact {
  display:flex;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding-top: 50px;
  padding-bottom: 30px;
}

.top {
  font-size: 15px;
  font-weight: 200;
}

.end {
  display: flex;
  justify-content: center;
  margin: 0px 20px;
  font-weight: 400;
}

.interested, .info {
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
line-height: 0.5em;
color: grey;
font-size: 1.5rem;
padding: 25px;
}


@media (min-width: 768px) {
  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 2px;
    background-color: transparent;
  }

.top-nav li:last-child {
  margin-right: 0;
}

.top-nav a {
  color: #fff;
  }

  .container {
    display: flex;
    flex-wrap:wrap;
  }

  .col {
    flex-basis: calc(50% - 20px);
  }

  .profile {
    min-width: 380px;
    min-height: 390px;
  }

  h1 {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  #portfolio, #contact {
    padding: 20px 1px;
    text-transform:uppercase;
    color: black;
    font-size: 13px;
    }

    .full {
      display: inline-block;
      margin-left: 20px;
    }
}

@media (min-width: 1024px) {
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .top-nav,
  .top-nav li {
    width: initial;
    margin-bottom: 0;
  }

  .col{
    flex-basis: calc(313.333% - 20px);
  }
}
